/* Universal*/

.center-text {
	text-align: center;
}

.right {
	text-align: right;
	float: right;
}

.left {
	text-align: left;
	float: left;
}

.center {
	margin-left: auto;
    margin-right: auto;
}

.right-text {
	text-align: right;
}

.brown-background {
	background-color: brown;
}

.gray-background {
	background-color: LightGray;
}

.white-background {
	background-color: #fff;
}

.hidden {
	display: none;
}



/* sign-in page*/

.sign-in-background {
	background-color: brown;
	min-height: 1000px;
	margin: auto;
}

.sign-in-box {	
	margin-top: 100px;
}

.narrow {
	width: 300px;
}

/* Navbar */

@media screen and (min-width: 0px) and (max-width: 500px){
  .center-xs {
    text-align: center;
  }
}

#navbar-name {
	color: brown;
}
#toggle-tutee-mode {
	background-color: brown;
	margin-top: 20px;
}

#toggle-tutor-mode{
	background-color: brown;
	margin-top: 20px;
}

#profile-btn {
	background-color: brown;
	margin-top: 20px;
}

#about-btn {
	background-color: brown;
	margin-top: 20px;	
}

#help-btn {
	background-color: brown;
	margin-top: 20px;	
}

#sign-out-submit {
	background-color: white;
	color: brown;
	border: 2px solid brown;
	margin-top: 20px;
	float: right;
}

#main-navbar {
	border-bottom-style: solid;
	border-bottom-color: brown;
	padding-bottom: 15px;
}

/* home.php*/

#current-tutor-session {
	float: left;
}

.join-session {
	margin-bottom: -15px;
}

.past-session {
	margin-bottom: -15px;
}

.main-container {
	min-height: 800px;
}

/* Tutee-session*/

#tutee-navigation{
	margin-bottom: 20px;
}

#tutor-navigation {
	margin-bottom: 20px;
}

.past-session {
	margin-bottom: 10px;
}

.join-session {
	margin-bottom: 10px;
}

/*Tutor section */

#room_num {
	margin-bottom: 10px;
}

#submit-tutor-session{
	background-color: brown;
}

div > .view-tutor {
	font-size: 75%;
	margin-top: 5px;
	margin-bottom: 10px;
	float: left;
}

div > .hide-tutor {
	font-size: 75%;
	margin-top: 5px;
	margin-bottom: 10px;
	float: left;
	background-color: brown;
}

div > .hide-form {
	font-size: 75%;
	float: left;
	margin-bottom: 10px;
	background-color: brown;
}

div > .hide-review {
	font-size: 75%;
	float: left;
	margin-bottom: 10px;
	background-color: brown;
}

div > .rate-tutor {
	font-size: 75%;
	float: left;
	margin-bottom: 10px;
	background-color: green;
}

div > .view-review {
	font-size: 75%;
	float: left;
	margin-bottom: 10px;
	background-color: #330066;
}

div > .thank-you {
	font-size: 75%;
	float: left;
	margin-bottom: 10px;
	background-color: gray;
}

div > .submit-rating {
	font-size: 75%;
	float: left;
	margin-bottom: 10px;
	margin-bottom: 10px;
}

div > .delete-tutor-rating {
	font-size: 75%;
	float: right;
	margin-bottom: 10px;
	margin-bottom: 10px;
	background-color: red;
}

div > .rate-select {
	width: 50px;
	margin-right: 0;
	float: right;
}

.tutor-name {
	margin-top:10px;
	margin-bottom: 5px;
}

.rate-area {
	margin-top: 35px;
}
.rating-label {
	float: right;
	margin-right: 10px;
}

.own {
	margin-top: 10px;
}

.text-left {
	text-align: left;
}

.tutor-table-cat {
}